<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse flex-column align-items-start" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active"><a href='{% url 'index' %}' class="nav-link">Main Page</a></li>
            <li class="nav-item"><a href='{% url 'products' %}' class="nav-link">See Products</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'user:profile' %}" class="nav-link text-info">{{ user.username }}</a></li>
                <li class='nav-item'><img src="{{ user.image.url }}" alt="image" width="55" height="55" class="nav-link"></li>
                <li class='nav-item'>
                    <form method="post" action="{% url 'user:logout' %}" class="form-check-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">Logout</button>
                    </form>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item"><a href='/admin/' class="nav-link">Admin Panel</a></li>
                {% endif %}
            {% else %}
                <li class="nav-item"><a href='{% url 'user:login' %}' class="nav-link">Login</a></li>
                <li class="nav-item"><a href='{% url 'user:register' %}' class="nav-link">Registration</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
