{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 style="margin: 10px">Login Here</h2>
                <br>
                <p><a href="{% url 'index' %}">Back to Store</a></p>

                <form method="post" class="form-login">
                    {% csrf_token %}

                    <div class="form-errors">
                        {{ form.non_field_errors }}
                    </div>

                    {% for f in form %}
                        <div class="form-group">
                            <label for="{{ f.id_for_label }}"><strong>{{ f.label }}</strong></label>
                            {{ f }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{% url 'user:password_reset' %}" style="margin: 40px">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
