{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">New password</h1>
                <div class="alert alert-success" role="alert">
                    Password saved
                </div>
                <p class="text-center">
                    <a href="{% url 'user:login' %}" class="btn btn-primary">Go to login</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}