{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
            <br>
                <h2 class="mb-4">New password</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                            {{ field }}
                            <p class="form-error">{{ field.errors }}</p>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'index' %}" class="btn btn-primary mb-4" style="margin: 30px">Back to store</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}