{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/menu.html' %}
    <div class="container">
        <br>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <div class="row">
            {% for product in category.products.all %}
                {% if product.quantity > 0 %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><strong>Price:{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}