{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/menu.html' %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" width="550" height="550" alt="{{ product.name }}"
                     class="img-fluid mb-1">
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <h2>{{ product.price }}</h2>
            <p><strong>Still have {{ product.quantity }} phones</strong></p>
                {% if user.is_authenticated %}
                    <form method="get" action="{% url 'user:add_to_basket' %}">
                        <button type="submit" class="btn btn-primary btn-sm" name="product_id" value="{{ product.id }}">
                            Add to basket
                        </button>
                    </form>
                {% else %}
                    <form method="get" action="{% url 'user:login' %}">
                        <button type="submit" class="btn btn-primary btn-sm" name="product_id" value="{{ product.id }}">
                            Add to basket
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}